<h1>Editing Comment</h1>

  <%= p @comment %>
<%= form_for @comment, html: { method: :put } do |form| %>
  <%= form.label :comment_text %>
  <%= form.text_area :comment_text %>

  <%= form.submit "Update" %>
<% end %>

