<% @posts.each do |post| %>
<div class='<%=post.id %>'>
  <%= simple_format post.message %>
  <p><%=  post.created_at %></p>
  <h2>Comments</h2>
 <%= link_to new_comment_path do %>
 New comment
 <% end %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
  <p><%= link_to destroy_user_session_path, method: :delete do %>
    Logout
  <% end %></p>
<% end %>
