
<% @posts.each do |post| %>
<div class="container">
<div class='<%=post.id %> card text-center'>
  <%= simple_format post.message, class:"card-text" %>
  <p><i class="fas fa-user"></i> Posted by: <%=  post.user.name %></p>
  <p><i class="fas fa-clock"></i> Posted at: <%=  post.created_at %></p>
  <p id="<%=post.id%>" ></p>
  <%= link_to 'Delete post', post_path(post), method: :delete, class: "card-link" %>
  <%= link_to 'Edit post', edit_post_path(post), class: "card-link" %>
</div>
</div>
<div class="container">
<h3>Comments:</h3>
  <ul class="list-comments">
  <% post.comments.each do |comment| %>
    <div class='<%= comment.id %> card'>
    <p class="comment-text"><%= comment.comment_text %></p>
    <p class="comment-time"><%= comment.user.name + " commented " + time_ago_in_words(comment.created_at) + " ago." %></p>
    <p id='<%= comment.id %>'></p>
    <%= link_to 'Delete comment', post_comment_path(post, comment), method: :delete %>
    <%= link_to 'Edit comment', edit_post_comment_path(post, comment), method: :get %>
    <% end %>
    </div>
  </ul>
  </div>
  <div class="container">
  <h3>Comment on This Post</h3>
  <%= form_for [post, Comment.new] do |f| %>
    <%= f.text_area :comment_text %><br>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
  </div>

<% end %>

<% if user_signed_in? %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
<% end %>
