<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f34ca161df.js" crossorigin="anonymous"></script>
  <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
    <%= render 'layouts/alerts', class: 'btn btn-success' %>
    <%= yield %>
    </div>
  </body>
</html>
